<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umlv.fr.sharedraw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectionBoard"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity"/>
        <service android:name=".drawer.FloatingWindow"/>
        <service android:name=".http.ServiceHttp"
            android:process=":processServiceHttp" >
            <intent-filter>
                <action android:name="umlv.fr.sharedraw.http.ServiceHttp" />
            </intent-filter>
        </service>
    </application>

</manifest>